

#mainForm {
    width: 50%;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding:15px 30px 15px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
    text-align: center;
  }
  
  #mainForm * {
      box-sizing: border-box;
  }
  

  #mainForm input {
    text-align: center;
    box-sizing: border-box;
    display:inline;
    width: center;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
    background-color: #f3f3f3;
  }
  
  .input0 {
    width: 60%;
  }
  .input1 {
    width: 10%;
  }
  .input2 {
    width: 10%;
  }
 


  .btnAdd {
    color: white;
    font-size: 20px;
    background-color:#6bd46bb7;
    margin: 20px auto 0;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    border: none;
    transition-duration: 0.1s;
  }
  
  .btnAdd:hover {
    background-color: #4cac2f; /* Green */
    color: white;
  }

  .btnAdd:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
 
  
  .send {
    background-color:#4849480e;
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    transition-duration: 0.1s;
  }
  
  .send:hover {
    background-color: #39b2b6; /* Green */
    color: white;
  }

  .send:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }


  .removeLS {
    
    background-color:#4849480e;
    margin: 20px auto 0;
    width: 100px;
    border-radius: 25px;
    border: none;
    transition-duration: 0.1s;
  }
  
  .removeLS:hover {
    background-color: #7c1010; /* Green */
    color: white;
  }

  .removeLS:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

  .ccd {
    text-align: right;
  }


  .wide {
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;  
  }

  .resultOne {
    text-align: center;
    background-color: red;
  }
  
  /* .mainForm a {
    text-align: center;
    box-sizing:border-box;
    text-align: center;
    display: block;
    height: auto;
    margin: 5%;
    background: #f6d654;
    background-size: 20px;
  } */
  
  a {
    text-align: center;
    display: block;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 1%;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    
  }














.sellerName {
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 25px;
    text-align-last: center;
    margin: 20px 0px 20px;
    
}











.headTable {
   width: 100%;
   font-family: Arial;
   font-size: 13px;
   
}

.myTags {
    width: 30mm;
    vertical-align: top;
}



.myTag {
    font-weight: bold;
    padding-left: 2px;
    width: 30mm;
    vertical-align: top;
}

.myPaymentDetails {
    font-family: sans-serif;
    font-size: 12px;
}

.documentName1 {
    font-weight: bold;
    padding-left: 5px;
    font-family: Arial;
    text-align: center;
}
.date {
    font-weight: bold;
    padding-left: 5px;
    font-family: Arial;
    text-align: center;
    margin-top: 0.7%;
}

.mainTable {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial;
    width: 100%;
    border-collapse: collapse;

}

.inMainTable{
    text-align: center;
   
}

 th {
    background: rgb(184, 186, 192);
    font-size: 14px;
 }

 

 .secondStr {
  text-align: right;
  font-size: 13px;
}
 
.nameProduct {
  font-size: 13px;
  text-align: left;
}



.downPriceTotal {
    font-family: Arial;
    line-height: 0.2em;
}

.xxx {
  text-align: right;
}



 .podpis {
    
    float: left;
    display: block;
    width: 400px;
    
    margin: 2px;   
    
}



.imgPodpis {
   position: relative;
   top: 110px;
   width: auto;
   left: 40px
} 



.footer {
  justify-content: center;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
}

.footerRight {
  float: left;
  display: block;
  width: 400px;
  height: 300px;
  margin: 2px;
  align-items:flex-end;
}

.down {
    text-align: left;
}

.director {
    text-align: center;
    margin-top: -10px;
    padding-left: 50px;
    font-size: 13px;
     
}

 .dovir {
    text-align: center;
    margin-top: -15px;
    padding-left: 100px;
    font-size: 13px;
}

.kek {
    margin: 245px 0px;
}

.vidp {
    font-size: 10px;
    text-align:start;
    margin: -7px 0px 0px 0px;
   
    
}






/* Убрать лишнее на печать */

@media print {
  @page { margin: 0; }
  body { margin: 1.0cm; }
}